@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Regular.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Italic.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Italic.woff') format('woff');
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Bold.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Bold.woff') format('woff');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply break-words;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1& {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  video::cue {
    @apply text-base;
  }
}

@layer components {
  .shower {
    &.list {
      @apply bg-gray;

      .slide {
        @apply rounded-md;
      }
    }

    &.full {
      @apply bg-green;
    }

    .slide {
      @apply bg-green p-[24px_90px_0] shadow-[0_20px_50px_rgb(0_0_0_/_30%)];

      h1,
      h2,
      i {
        @apply font-arsenal;
      }

      h2 {
        @apply text-[52px];

        &.shout {
          @apply m-0 text-7xl;
        }
      }

      a {
        @apply text-orange no-underline;

        &.copyright {
          @apply rounded-sm bg-orange bg-none p-[3px_10px] text-white transition-opacity;

          &:hover {
            @apply opacity-80;
          }
        }

        &:has(img) {
          @apply bg-none;
        }
      }

      h2,
      h3,
      p,
      figure p,
      figcaption,
      p.note,
      li,
      li::before {
        @apply text-white;
      }

      ol,
      ul {
        @apply leading-[1.8];

        li {
          @apply text-[34px];
        }
      }

      blockquote::before {
        @apply text-gray;
      }

      pre {
        @apply rounded-sm bg-black;

        &.place {
          @apply w-[90%];
        }

        code {
          @apply pb-0 pt-0 text-lg;
        }
      }

      img {
        &:not(.cover) {
          @apply rounded-sm;
        }
      }

      mark {
        @apply rounded-sm bg-orange pb-2 pt-0 text-white;
      }

      table {
        @apply mb-0;

        th,
        td {
          @apply text-white;
        }

        th[scope='column'] {
          @apply text-center;
        }

        th {
          @apply text-[18px];
        }

        td {
          @apply text-[20px];
        }

        tr {
          --color-line: theme(colors.gray);
        }

        img {
          @apply mx-auto;
        }
      }
    }
  }
}

@layer components {
  .custom-scrollbar {
    scrollbar-gutter: stable;

    @supports not selector(::-webkit-scrollbar) {
      /*scrollbar-color: text-orange transparent;*/
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      @apply w-[18px];
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      @apply rounded-sm;
    }

    &::-webkit-scrollbar-track {
      @apply bg-green;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-orange;
    }

    &::-webkit-scrollbar-button {
      @apply hidden;
    }
  }

  .toc {
    @apply relative overflow-auto rounded-2xl p-12 text-2xl;

    .toc__list-item {
      @apply grid grid-cols-[auto_max-content] gap-[0_1ch];

      grid-template-areas: 'chapter page';
      align-items: end;
    }

    .toc__name {
      @apply relative overflow-hidden after:absolute after:pl-[0.25ch] after:text-right after:content-['_._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._'_'._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._'_'._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._'];
      grid-area: chapter;
    }
  }

  .dots {
    --linear-gradient: linear-gradient(currentColor 0 0);

    background:
      var(--linear-gradient) 0 100%,
      var(--linear-gradient) 50% 100%,
      var(--linear-gradient) 100% 100%;
    background-size: 10px calc(100% - 6px);
    background-repeat: no-repeat;

    &::before {
      @apply absolute left-0 top-0 h-[10px] w-[10px] bg-[currentColor];
      border-radius: 50%;
    }
  }

  .loader {
    @apply w-fit font-arsenal text-[62px] font-bold uppercase leading-normal text-transparent;
    -webkit-text-stroke: 2px theme(colors.white);
    background:
      radial-gradient(1.13em at 50% 1.6em, theme(colors.white) 99%, transparent 101%) calc(50% - 1.6em) 0/3.2em 100%
        text,
      radial-gradient(1.13em at 50% -0.8em, transparent 99%, theme(colors.white) 101%) 50% 0.8em/3.2em 100% repeat-x
        text;
  }

  .upload-btn-iframe {
    &::before {
      @apply absolute -left-full top-0 z-[1] h-full w-full opacity-0 transition-none content-[''];
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    }

    &:hover {
      @apply -translate-x-1 -translate-y-1 bg-black text-white shadow-[10px_10px_0_#000];

      &::before {
        @apply animate-[slide_2s_infinite] opacity-100;
      }

      & > span {
        @apply skew-x-[-5deg];
      }
    }

    &:active {
      @apply translate-x-1 translate-y-1 border-black bg-white text-black shadow-[0px_0px_0_#00a4ef];

      & > span {
        @apply skew-x-[5deg];
      }
    }

    & > span {
      @apply relative z-[1] flex flex-col leading-[1.2] transition-transform duration-[0.2s] ease-[ease-out];

      &:first-child {
        @apply text-[11px] uppercase;
      }

      &:last-child {
        @apply text-base uppercase;
      }
    }
  }

  .animated-gradient {
    @apply h-screen bg-[400%_400%];
    background: linear-gradient(-45deg, #b3441e, #7927e0, #18404a, #23d5ab);
  }
}

@layer utilities {
  .all-clear-numbers .slide::after {
    @apply content-none;
  }

  .list .list-hidden {
    @apply hidden;
  }
}
/*
.wave {
  animation:
    wave 1s 1s ease-out,
    wave 1s 2s ease-out,
    wave 1s 3s ease-out,
    wave 1s 4s ease-out,
    wave 1s 5s ease-out;
}

.wave {
  animation:
    wave-1 1s 1s ease-out,
    wave-2 1s 2s ease-out,
    wave-3 1s 3s ease-out,
    wave-4 1s 4s ease-out,
    wave-5 1s 5s ease-out;
} */
