@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Regular.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Italic.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Italic.woff') format('woff');
  }

  @font-face {
    font-family: 'Arsenal';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src:
      local('Arsenal'),
      url('../themes/tw/fonts/Arsenal/Bold.ttf') format('truetype'),
      url('../themes/tw/fonts/Arsenal/Bold.woff') format('woff');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  .shower {
    &.list {
      @apply bg-gray;

      .slide {
        @apply rounded-sm;
      }
    }

    &.full {
      @apply bg-green;
    }

    &.all-clear .slide::after {
      content: none;
    }

    .slide {
      @apply bg-green p-[24px_90px_0] shadow-[0_20px_50px_rgb(0_0_0_/_30%)];

      h1,
      h2,
      i {
        @apply font-arsenal;
      }

      h1 {
        @apply text-white;
      }

      h2 {
        @apply text-[52px];

        &.shout {
          @apply m-0 text-7xl;
        }
      }

      a {
        @apply text-orange;

        &.copyright {
          @apply text-white;

          padding: 3px 10px;
          border-radius: 5px;
          background-color: theme(colors.orange);
          background-image: none;
          transition: opacity 0.3s;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      h2,
      h3,
      p,
      figure p,
      figcaption,
      p.note,
      li,
      li::before {
        @apply text-white;
      }

      ol,
      ul {
        @apply leading-[1.8];

        li {
          @apply text-[34px];
        }
      }

      b {
        @apply text-white;

        background: #b3441e;
        padding: 0 7px;
        border-radius: 4px;
      }

      blockquote::before {
        @apply text-gray;
      }

      pre code {
        @apply text-lg;
      }
    }
  }
}

@layer components {
  .toc {
    position: relative;
    padding: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    overflow: auto;

    .toc__list-item {
      display: grid;
      grid-template-columns: auto max-content;
      grid-template-areas: 'chapter page';
      align-items: end;
      gap: 0 1ch;
    }

    .toc__name {
      grid-area: chapter;
      position: relative;
      overflow: hidden;

      &::after {
        position: absolute;
        padding-left: 0.25ch;
        content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . '
          '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . '
          '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
        text-align: right;
      }
    }
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-gutter: stable;

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-color: text-green transparent;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      @apply w-[18px];
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      @apply rounded-sm;
    }

    &::-webkit-scrollbar-track {
      @apply bg-green;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-orange;
    }

    &::-webkit-scrollbar-button {
      @apply hidden;
    }
  }

  .dots {
    --linear-gradient: linear-gradient(currentColor 0 0);

    background:
      var(--linear-gradient) 0 100%,
      var(--linear-gradient) 50% 100%,
      var(--linear-gradient) 100% 100%;
    background-size: 10px calc(100% - 6px);
    background-repeat: no-repeat;

    &::before {
      @apply h-[10px] w-[10px];

      content: '';
      position: absolute;
      border-radius: 50%;
      background: currentColor;
      left: 0;
      top: 0;
    }
  }
}
